
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../../../assets/image/loginIcon.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)"> 
      <input type="text" ngModel #email="ngModel" id="email" class="fadeIn second" name="email" placeholder="Email" required>
      <input type="password" ngModel #passwd="ngModel" id="passwd" class="fadeIn third" name="passwd" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#" [routerLink]="['/login/changePasword']">Forgot Password?</a>
    </div>

  </div>
</div>
